/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    color: #333;
    background-color: black;
}

.page-container {
    border-top-right-radius: 50%;
    margin: 2rem;
    height: 93vh;
    background-color: rgb(149, 149, 149);
}

.links {
    text-transform: uppercase;
    font-size: 1.8rem;
    text-decoration: none;
    color: #333;;
    background-color: aqua;
    padding: 2rem 4rem;
    margin-bottom: 0.5rem;
    transition: all 500ms;
}
.links:hover {
    background-color: rgb(0, 150, 170);
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.heading {
    color: white;
    font-size: 2rem;
}
.heading span {
    font-size: 5rem;
    text-decoration: underline;
    color: aqua;
}

.left-and-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30rem;
}
.left {
    height: 15rem;
    margin-right: 10rem;
}
.right {
    height: 15rem;
    margin-left: 10rem;
}
.title-text {
    margin-bottom: 2rem;
    color: white;
    font-size: 3rem;
}

.link-container {
    display: flex;
    flex-direction: column;
}

