.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: aqua;
    font-size: 100px;
    font-family: sans-serif;
    color: #333;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: magenta;
    font-size: 100px;
    font-family: sans-serif;
    color: #333;
}

